@import 'loader.less';

#filopplaster {
  display: none;
}

#preview-image {
  border: white solid 3px;
  width: 70%;
  height: auto;
}

.fa.fa-camera-retro {
  font-size: 45rem;
  text-align: center;
}

.filopplaster-form {
  text-align: center;
  margin-bottom: 200px;
}

html {
  font-size: 1vw;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 11rem;
  color: white;
}

p {
  text-align: center;
  color: white;
  font-size: 3rem;
}

.ikontekst-container {
  position: relative;
}

.ikontekst-container {
  left: 0;
  position:absolute;
  top: 52rem;
  width: 100%;
  color: white;
}

.ikontekst {
  color: white;
  width: 30%;
  height: 130px;
  padding-top: 19px;
  margin: 0 auto;
  text-align:center;
  background-color:rgba(137,234,231,0.4);
  font-size: 6rem;
  border-radius: 25px;
}

.knapp {
  background: white;
  color: black;
  padding: 15px 25px;
  margin-right: 25px;
}

.alle-bilder {
  list-style: none;
  text-align: center;
  margin-bottom: 3em;
}

.bilde {
  position: absolute;
  top: 0;
  left: 0;
  border: white solid 6px;
  border-radius: 25px;
  width: auto;
  max-height: 100%;
  margin-bottom: 30px;

}

body {
  background-color: #0dc5c1;
}
