@import 'loader.less';

#filopplaster {
  display: none;
}

#preview-image {
  border: white solid 3px;
  width: 70%;
  height: auto;
}

.fa.fa-camera-retro {
  font-size: 45rem;
  text-align: center;
}

.filopplaster-form {
  text-align: center;
  margin-bottom: 200px;
}

html {
  font-size: 1vw;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 11rem;
  color: white;
}

p {
  text-align: center;
  color: white;
  font-size: 4rem;
}

.ikontekst-container {
  position: relative;
}

.ikontekst-container {
  left: 0;
  position:absolute;
  top: 54rem;
  width: 100%;
  color: white;
}

.ikontekst {
  color: white;
  width: 30%;
  max-height: 190px;
  padding: 20px 20px;
  margin: 0 auto;
  text-align:center;
  background-color:rgba(137,234,231,0.4);
  font-size: 6rem;
  border-radius: 25px;
}

.knapp {
  background: white;
  color: black;
  padding: 15px 25px;
  margin-right: 25px;
}

.bildevisning {
  list-style: none;
  text-align: center;
  margin-bottom: 3em;
}

.bilde {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  max-height: 100%;
  margin-bottom: 30px;
}

.bilde-mini {
  height: 40px;
  width: auto;
}

.suksessmelding {
  min-width: 30%;
  display: inline-block;
  margin: 0 auto;
  animation: fade-out ease-in-out 2s forwards 2s;
}

.suksessmelding p {
  font-size: 3rem;
}

body {
  background-color: #0dc5c1;
}

.fa-check {
  float: left;
  font-size: 10rem;
  padding-right: 20px;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

header div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

header div img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }

}